name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout hugo-devel
        uses: actions/checkout@v2
        with:
          ref: master
      - name: Deploy to Github Pages Script
        run: ./deploy.sh
        shell: bash
        env:
          REPO_AUTH: ${{ secrets.TARGET_REPO_AUTH }}
